.theme-toggle-btn {
    background-color: var(--background-tertiary);
    border: 1px solid var(--border-color);
    width: 50px;
    height: 26px;
    border-radius: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .theme-toggle-btn:hover {
    border-color: var(--text-secondary);
  }
  
  .toggle-knob {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text-secondary);
    position: absolute;
    left: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; /* Tamaño del emoji */
  }
  body.light-mode .toggle-knob {
    transform: translateX(24px);
    background-color: var(--accent-color);
  }